parameters:
    level: 1

    paths:
        - src
# Uncomment this, when phpstan extensions are allowed
#        - tests

    excludes_analyse:
        - src/Test/AbstractWidgetTestCase.php
        - tests/bootstrap.php

    autoload_files:
        - vendor/autoload.php

    ignoreErrors:
        -
            message: "#^Call to an undefined static method Symfony\\\\Component\\\\Intl\\\\Intl\\:\\:getRegionBundle\\(\\)\\.$#"
            count: 1
            path: src/Templating/Helper/LocaleHelper.php

        -
            message: "#^Call to an undefined static method Symfony\\\\Component\\\\Intl\\\\Intl\\:\\:getLanguageBundle\\(\\)\\.$#"
            count: 1
            path: src/Templating/Helper/LocaleHelper.php

        -
            message: "#^Call to an undefined static method Symfony\\\\Component\\\\Intl\\\\Intl\\:\\:getLocaleBundle\\(\\)\\.$#"
            count: 1
            path: src/Templating/Helper/LocaleHelper.php
