parameters:
    level: 1

    paths:
        - src
# Uncomment this, when phpstan extensions are allowed
#        - tests

    excludes_analyse:
        - src/Test/AbstractWidgetTestCase.php
        - tests/bootstrap.php
